nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
    text-align: center;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover {
    color: #0bbf0b;
    background: white;
}
@media only screen and (max-width: 50px) {
    .dropdown .dropdown-menu {
        display: block;
        position: relative;
        float: none;
        border: none;
        box-shadow: none;

    }
}

@media only screen and (min-width: 50px) {
    .dropdown-menu {
        padding: 0;

    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown:hover > a {

    }
    .dropdown-menu li a {
        background: white;
    }
}

