.table td, .dataTable-table td, .table thead th, .dataTable-table thead th {
    /*display: inline-table;*/
    white-space: nowrap;
    text-align: center;
}
.table td{
	white-space: nowrap;

}
.table .font-to{
	font-size: 25px
}
.table a{
	line-height: 15px
	
}
.table .fa{
	font-size: 20px

}

/*checkbox*/
.table .checkbox-1 {
  display: block;
  position: relative;
  width: 55px;
  height: 30px;
}

.table .checkbox-1 > input[type = checkbox] {
  display: none;
}

.table .checkbox-1 .background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cecccc;
  border-radius: 30px;
  transition: 0.25s;
  border: 2px solid #eeeeee;
}

.table .checkbox-1 .mask {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  box-shadow: 1px 1px 3px silver;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transition: 0.25s;
  cursor: pointer;
}

.table .checkbox-1 > input[type = checkbox]:checked + .background {
  background-color: #45f763;
 /* border-color: #f74545;*/
}

.table .checkbox-1 > input[type = checkbox]:checked ~ .mask {
  left: 27px;
}
/*end checkbox*/

.table-responsive {
  overflow: hidden;
}

/*start popup*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
}
.pagination {
  padding-left: 40%;
  position: relative;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.cardcontent {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
}

.cardcontent .table-responsive .row {
  margin-bottom: 20px;
}

.cardcontent .table-responsive .row .col label {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardcontent .table-responsive .row .col .formGroupExampleInput label {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardcontent .table-responsive .row .col .form-control {
  margin-top: 10px;
}




