#radio-freelancer,
#radio-employer{
    display: none;
}
.label-signup{
    position: relative;
    color: #01cc65;
    font-family:sans-serif;
    font-size: 20px;
    border: 2px solid #01cc65;
    border-radius: 5px;
    padding: 5px 5px;
    display: inline-flex;
    cursor: pointer;
}
.label-signup::before{
    content: "";
    height: 20px;
    width: 20px;
    border: 3px solid #01cc65;
    border-radius: 50%;
    margin-right: 12px;

}
#radio-freelancer:checked+.label-signup,
#radio-employer:checked+.label-signup{
    background: #01cc65;
    color: white;
}
#radio-freelancer:checked+.label-signup::before,
#radio-employer:checked+.label-signup::before{
    height: 16px;
    width: 16px;
    border: 10px solid white;
    background: #01cc65;
}
.permissions{
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    
}
.row-signup{
    margin-bottom: 30px;
}
.rate-custom{
    color: #f1c40f !important;
}
.rate-custom i{
    font-size: 50px !important;
    color: #f1c40f !important;
}
.rate-star{
    color: #bdc3c7;
    font-size: 25px !important;
    margin-right: 25px;
}
.star-checked {
    color: #f1c40f;
}
#checkbox-active-job,#checkbox-active-freelancer{
     position: relative;
     width: 100px;
     height: 46px;
     appearance: none;
     background: #bdc3c7;
     outline: none !important;
     border-radius: 25px;
     box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
     transition: 0.5s;
     float: left;

}
#checkbox-active-job:checked,#checkbox-active-freelancer:checked{
    background: #2ecc71;
    outline: none !important;
    
}
#checkbox-active-job::before,#checkbox-active-freelancer::before{
    content: '';
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background: white;
    top: -1px;
    left: -1px;
    transform: scale(1,1);
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
     transition: 0.5s;
}
#checkbox-active-job:checked::before,#checkbox-active-freelancer:checked::before{
    left: 54px;
}
#label-hireable{
    display: block !important;
}
#p-hireable,#p-hireable-freelancer{
    line-height: 47px;
    margin-left: 155px;
    color: #2ecc71;
    font-weight: 700;
}
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

  /* Rating Star Widgets Style */
  .rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.fa {
    color:#FF912C;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
    color:#FFCC36;
  }
  .btn-rate{
      border-radius: 100px;
      margin-right: 10px;
  }
  .btn-rate-cancel{
    border-radius: 100px;
  }
  .btn-rate-save{
    border-radius: 100px;
    padding-left: 23px;
    padding-right: 23px;
    font-weight: 600;
  }
  #new-review{
      resize: none;
      height: 150px !important;
      margin-top: 15px;
  }
  .well-sm{
     background: #f5f6f7;
  }
  .well-sm a{
    font-weight: 600;
 }
  .simple-bg-screen:before{
      content: none !important;
  }